@charset "utf-8";

@import "../common/mixins";
@import "../common/vendor-prefixes";
@import "../common/variables";
@import "variables";

// Forms inputs, textarea
// ---------------
.vb-form-wrapper {
  .wpcf7-validation-errors {
    border-color: $danger-color;
  }
  .wpcf7-mail-sent-ok {
    border-color: $success-color;
  }
  .wpcf7-form-control-wrap {
    display: block;
  }
  .wpcf7-not-valid-tip,
  .vb-not-valid-tip {
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: $error-color;
    margin-top: 5px;
    top: 100%;
    left: 0;
  }
  .vb-submit .ajax-loader {
    position: absolute;
    top: 10%;
    background: #7b1fa2;
    width: 100%;
    height: 80%;
    left: 0;
    margin: 0;
    text-align: center;
    > span {
      height: 100%;
      width: 8px;
      margin-left: 1px;
      margin-right: 1px;
      display: inline-block;
      -webkit-animation: anim-ajax 0.6s infinite cubic-bezier(0.39, 0.58, 0.57, 1);
      animation: anim-ajax 0.6s infinite cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .bar1 {
      background-color: $red-500;
    }
    .bar2 {
      background-color: $amber-500;
      -webkit-animation-delay: .15s;
      animation-delay: .15s;
    }
    .bar3 {
      background-color: $light-green-500;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
    .bar4 {
      background-color: $blue-500;
      -webkit-animation-delay: .45s;
      animation-delay: .45s;
    }
  }
}
.vb-form-common-group {
  position: relative;
  padding-top: 16px;
  padding-bottom: 30px;
  label {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 26px;
    color: $scheme-light;

    @include transition(all .3s cubic-bezier(0.4,0,0.2,1));
  }
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $scheme-thin;
  }

  .vb-form-common {
    position: relative;
    border-bottom: 1px solid $scheme-light;
  }
  .vb-form-underline {
    position: absolute;
    height: 3px;
    background-color: $primary-color-dark;
    width: 100%;
    margin-top: -2px;
    @include scaleX(0);

    @include transition(all .3s cubic-bezier(0.4,0,0.2,1));
  }

  &.isFocused, &.isDirty {
    label {
      font-size: 12px;
      top: 0;
    }
  }
  &.isFocused {
    .vb-form-underline {
      @include scaleX(1);
    }
  }
  &.isDirty {
    .vb-form-common {
      border-bottom-color: $scheme-thin;
    }
  }

  // Reset webkit autofill styles
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    box-shadow: inset 0 1000px 0 $scheme-medium;
    -webkit-text-fill-color: $scheme-thin;
  }
}


@-webkit-keyframes anim-ajax {
  0%, 100% {
    -webkit-transform: scaleY(0.05);
    transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.0);
  }
}
@keyframes anim-ajax {
  0%, 100% {
    -webkit-transform: scaleY(0.05);
    transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.0);
  }
}