$font-base: 'Rubik', Helvetica, Arial, sans-serif;

// COLORS
$primary-color: #9c27b0;
$primary-color-dark: #7b1fa2;
$primary-color-light: #ba68c8;

$accented-color: #fdd835;
$accented-color-light: #fff176;

$light-color: #fff;
$dark-color: #000;

$error-color: #f44336;
$danger-color: #ffc107;
$success-color: #8bc34a;

// Grey scheme:
$scheme-dark: #37474f;
$scheme-medium: #546e7a;
$scheme: #78909c;
$scheme-light: #90a4ae;
$scheme-extralight: #cfd8dc;
$scheme-thin: #eceff1;

// Links
$link-color: $scheme;
$link-color-dark: $scheme-medium;