$font-base: 'Rubik', Helvetica, Arial, sans-serif;

// Material palette
$red-500: #f44336;
$purple-300: #ba68c8;
$purple-500: #9c27b0;
$purple-700: #7b1fa2;
$blue-500: #2196f3;
$light-green-500: #8bc34a;
$yellow-300: #fff176;
$yellow-600: #fdd835;
$amber-500: #ffc107;

// COLORS
$primary-color: $purple-500;
$primary-color-dark: $purple-700;
$primary-color-light: $purple-300;

$accented-color: $yellow-600;
$accented-color-light: $yellow-300;

$light-color: #fff;
$dark-color: #000;

$error-color: $red-500;
$danger-color: $amber-500;
$success-color: $light-green-500;

// Grey scheme:
$scheme-dark: #37474f;
$scheme-medium: #546e7a;
$scheme: #78909c;
$scheme-light: #90a4ae;
$scheme-extralight: #cfd8dc;
$scheme-thin: #eceff1;

// Links
$link-color: $scheme;
$link-color-dark: $scheme-medium;